:root {
  --color-black: #000000;
  --color-dark: #212121;
  --color-grey-darker: #2f2f2f;
	--color-grey: #374151;
  --color-grey-2: #3d3d3d;
  --color-grey-lighter: #9f9f9f;
  --color-lighter: #f5f1f1;
  --color-white: #ffffff;
  --color-white-darker: #e3e3e3;
  --color-red: #dc2626;
  --color-purple: #646cff;
}