:root {
	color-scheme: dark;

	--color-back-primary: var(--color-grey-darker);

	--color-text-primary: var(--color-white);
	--color-text-secondary: var(--color-grey-lighter);
	--color-text-error: var(--color-red);

	--color-text-border: var(--color-purple);

	--color-shadow-lighter: var(--color-grey-2);
	--color-shadow-darker: var(--color-dark);
}